<section class="about_us">
    <article>
        <h1>About us</h1>
        <h4>As the Lp enthusiast that I am, did I realise that there wasn't not anything on the market that furfilled my standard. Both in sound and design. Therefore I thought, why not design my own Lp player that looks good and provides the best sound. And here we are. </h4>
        <h2>Daniél A Lopez</h2>
    </article>
</section>   



<footer>
    <summary>
        <a href="shop.html"> <i class="material-icons">shopping_basket</i> </a> 
    </summary>
    
    <summary>
        <a href="home.html"> <i class="material-icons">home</i> </a> 
    </summary>
</footer>