<section>
    <article>
        <h1>Our products</h1>
        <h4>Here at Fruit Vinyl, we proudly presents our fruity turntables, they provide a sleek, minimal design from rich, natural materials. Bringing quality sound and a captivating in-home home appeal, the fruity vinyls offers features such as a sustainable solid bamboo plinth, and a base wrapped eco-friendly fabric. Functional ports include a USB port for PC recording, RCA output, and a 3.5mm headphone jack. </h4>
    </article>
</section>    

<menu>
    <p>Shopping list</p>
    <p>About us</p>
</menu>

<footer>
    <summary>
        <a href="shop.html"> <i class="material-icons">shopping_basket</i> </a> 
    </summary>
    
    <summary>
        <a href="about_us.html"> <i class="material-icons">people</i> </a> 
    </summary>
</footer>