

<div class="shopping_list">
    
    <main>
        <div class="box"></div>
    </main>
    
    <main>
        <div class="box"></div>
    </main>

    <main>
        <div class="box"></div>
    </main>
    
</div>

<footer>
    <summary>
        <a href="home.html"> <i class="material-icons">home</i> </a> 
    </summary>
    
    <summary>
        <a href="about_us.html"> <i class="material-icons">people</i> </a> 
    </summary>
</footer>