body{
    margin: 0;
}

.wrapper{
    display: grid;
    background-color: #FDB813;

    grid-template-rows: 15vh auto 15vh;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}


nav{
    box-shadow: 0px 10px 20px -9px rgba(0,0,0,0.48);
}

nav:nth-child(1){
    background-color: #F17022;

    display: flex;

    align-items: center;
    justify-content: center;

    font-family: 'Ramabhadra', sans-serif;
}

a{
    text-decoration: none;
    color: #E4F6F8;
}

nav:nth-child(2){
    background-image: url(../img/cherry_header@101x99.png);
}
nav:nth-child(3){
    background-image: url(../img/orange_header@101x99.png);
}
nav:nth-child(4){
    background-image: url(../img/blueberry_header@101x99.png);
}

menu{
    display: none;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

    .wrapper{
        grid-template-rows: 15vh 70vh 15vh;
    }

    nav{
        font-size: 2rem;
    }

    summary{
        // display: none;
    }
    // menu{
    //     // visibility: visible;
    //     // display: 
    // }

}

// Koden nedan är endast för att jag ska kunna se visuellt hur de ser ut
.colors_test{
    background-color: #FDB813;
    background-color: #F68B1F;
    background-color: #F68B1F;
    background-color: #F17022;
    background-color: #62C2CC;
    background-color: #E4F6F8;
    background-color: #EEF66C;
}