.home_finalized {
  background-color: #FDB813;
  width: 0;
  height: 0;
  margin: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.framed {
  width: 100vw;
  height: 90vh;
  visibility: visible;
  transition: 9s;
  transition-delay: 6.8s; }

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 90%;
  height: 90%;
  transition: 7s;
  transition-delay: 2s; }

header {
  background-color: red;
  width: 100vw;
  height: 15%;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0px;
  transition: 3s; }

.header {
  padding-left: 10px;
  background-color: #FDB813;
  font-size: 1.5rem;
  color: #E4F6F8;
  animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite; }
