body {
  margin: 0; }

.home {
  background-color: #FDB813;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s; }

#first {
  background-color: #E4F6F8;
  padding: 25px;
  transition-delay: 0s; }

#second {
  background-color: #62C2CC;
  padding: 25px;
  transition-delay: 1s; }

#third {
  background-color: #F17022;
  padding: 25px;
  transition-delay: 2s; }

#fourth {
  background-color: #F68B1F;
  padding: 25px;
  transition-delay: 3s; }

#fifth {
  padding: 25px;
  background-color: #FDB813;
  transition-delay: 4s; }

@keyframes change {
  0% {
    color: #E4F6F8;
    left: 0px;
    top: 1px; }
  25% {
    color: #62C2CC;
    left: 1px;
    top: 0px; }
  50% {
    color: #F17022;
    left: 0px;
    top: 1px; }
  75% {
    color: #F68B1F;
    left: 1px;
    top: 0px; }
  100% {
    color: #EEBC82;
    left: 0px;
    top: 1px; }
  100% {
    color: #ECC595;
    left: 1px;
    top: 0px; }
  100% {
    color: #E9D9BD;
    left: 0px;
    top: 1px; } }
.material-icons, #home {
  font-size: 3rem;
  color: #E4F6F8;
  position: relative;
  animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

.clicked {
  padding: 0 !important;
  transition-delay: 3.8s;
  visibility: hidden; }

.home_finalized {
  background-color: #FDB813;
  width: 0;
  height: 0;
  margin: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.framed {
  width: 100vw;
  height: 90vh;
  visibility: visible;
  transition: 9s;
  transition-delay: 6.8s; }

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 90%;
  height: 90%;
  transition: 7s;
  transition-delay: 2s; }

header {
  background-color: red;
  width: 100vw;
  height: 15%;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0px;
  transition: 3s; }

.header {
  padding-left: 10px;
  background-color: #FDB813;
  font-size: 1.5rem;
  color: #E4F6F8;
  animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

.items {
  display: flex; }

nav {
  display: flex;
  width: 100%; }

#flex {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.material-icons, #flex {
  font-size: 3rem !important; }

.menu {
  background-color: grey;
  transition: 0.33s;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -100%;
  z-index: 3; }

.menu.clicked {
  left: 0;
  top: 0; }
